---
import { ModeToggle } from '@/components/ModeToggle'
import { Button } from '@/components/ui/button'
---

<header class="flex justify-between items-center p-3 shadow-2xl border-b">
    <p>Weekend</p>
    <nav>
        <ul class="flex items-center gap-3">
            <li>
                <Button variant={'link'}>Home</Button>
            </li>
            <li>
                <Button variant={'link'}>Sobre</Button>
            </li>
            <li>
                <Button variant={'link'}>Contato</Button>
            </li>
        </ul>
    </nav>
    <ModeToggle client:load></ModeToggle>
</header>